body {
    margin-top: 0;
}

.top-nav {
    background-color: black;
    color: white;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    height: 64px;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.top-nav h1 {
    color: white;
    float: left;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    margin-left: 495px;
    line-height: 64px;
}

.top-nav ul {
    float: right;
    line-height: 64px;
    margin: 0;
    margin-right: 525px;
    padding: 0;
    word-spacing: 20px;
}

.top-nav ul li {
    display: inline;
}

.top-nav ul li a {
    color: white;
    text-decoration: none;
}


.content {
    clear: both;
    margin: 0px auto;
    margin-top: 64px;
    width: 400px;
}

.content h2 {
    margin: 0;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}